<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myKeyPairLabel">Create or edit a Key Pair</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!keyPair.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="keyPair.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pairType">Pair Type</label>
            <input type="text" class="form-control" name="pairType" id="field_pairType"
                [(ngModel)]="keyPair.pairType" required/>
            <div [hidden]="!(editForm.controls.pairType?.dirty && editForm.controls.pairType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pairType?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_keyName">Key Name</label>
            <input type="text" class="form-control" name="keyName" id="field_keyName"
                [(ngModel)]="keyPair.keyName" required/>
            <div [hidden]="!(editForm.controls.keyName?.dirty && editForm.controls.keyName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.keyName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_keyValue">Key Value</label>
            <input type="text" class="form-control" name="keyValue" id="field_keyValue"
                [(ngModel)]="keyPair.keyValue" required/>
            <div [hidden]="!(editForm.controls.keyValue?.dirty && editForm.controls.keyValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.keyValue?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_trackMetricQuestion">Track Metric Question</label>
            <select class="form-control" id="field_trackMetricQuestion" name="trackMetricQuestion" [(ngModel)]="keyPair.trackMetricQuestion" >
                <option [ngValue]="null"></option>
                <option [ngValue]="trackMetricQuestionOption.id === keyPair.trackMetricQuestion?.id ? keyPair.trackMetricQuestion : trackMetricQuestionOption" *ngFor="let trackMetricQuestionOption of trackmetricquestions; trackBy: trackTrackMetricQuestionById">{{trackMetricQuestionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
