
<div *ngIf="trackMetric">
    <h2><span>Track Metric</span> {{trackMetric.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{trackMetric.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{trackMetric.description}}</span>
        </dd>
        <dt><span>Track Icon</span></dt>
        <dd>
            <span>{{trackMetric.trackIcon}}</span>
        </dd>
        <dt><span>Info Bubble</span></dt>
        <dd>
            <div *ngIf="trackMetric.infoBubble">
                <a (click)="openFile(trackMetric.infoBubbleContentType, trackMetric.infoBubble)">open</a>
                {{trackMetric.infoBubbleContentType}}, {{byteSize(trackMetric.infoBubble)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'track-metric/'+ trackMetric.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
